.mainContainer {
    padding: 15px;
}

.listContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    padding-top: 15px;
}

.searchInput {
    padding: 6px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    font-size: 16px;
}
.searchInput:focus {
    border-bottom: 1px solid #0096ff;
}
