.playerCard {
    padding: 10px;
    border: 1px solid #0096ff;
    border-radius: 8px;
    text-decoration: none;
    color:  #0096ff ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playerCard:hover {
    border: 1px solid red;
    color: red;
}

.playerName {
    margin-top: 15px;
}