.userIcon {
    width: 100px;
    height: auto;
    min-height: 73px;
    position: relative;
}

.userIcon::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('./assets/user_not_found.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}